    .filmsContainer {
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: 80vw;
        overflow-x: auto;
        overflow-y: hidden;

    }

    .filmsContainer::-webkit-scrollbar,
    .filmCastContainer::-webkit-scrollbar {
        height: 0.6rem;
    }

    .filmsContainer::-webkit-scrollbar-track,
    .filmCastContainer::-webkit-scrollbar-track {
        background-color: alpha($color: #00000000);
    }

    .filmsContainer::-webkit-scrollbar-thumb,
    .filmCastContainer::-webkit-scrollbar-thumb {
        background-color: rgb(9, 26, 44);
        border-radius: 10px;
    }

    .filmCard {
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;

        p {
            margin-left: 1.2rem;
            margin-top: 0.5rem;
            color: #032541;
            font-weight: bolder;
        }
    }

    .filmDate {

        color: grayscale($color: #00000070);
        font-size: 0.9rem;
        margin-left: 1.2rem;
    }


    .filmImg {
        max-height: 18rem;
        border-radius: 1.2rem;
        margin: 0 1rem 0rem 1rem;
    }

    .filmDivisionTitle {
        font-family: 'Roboto', sans-serif;

        color: #032541;
        font-size: 1.5rem;
        letter-spacing: 0.7px;
    }

    .filmsResultContainer {
        width: 85%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    }

.seeMoreButton{
  padding: 24px 32px;
  border: 0;
  border-radius: 8px;
  background-color:rgb(9, 27, 44);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.notFound{
    width: 300px;
    height: 450px;
}