.filmDetailContainer {
  background-size: 100vw 80vh !important;
}

.filmDetailMain {
  min-height: 90vh;
}
.filmColumnTitleContainer{
  display: none;
}
.filmContainer {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(19, 6, 6, 0.719);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.filmImage,.filmImagePhone {
  min-width: 300px;
  width: 300px;
  height: 450px;

  img {
    border-radius: 3%;
  }
}
.filmInfoPhone{
  display: none;
}
.filmImagePhone{
  display: none;
}

.imageDataContainer{
  display: flex;
}
.filmData {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.filmTitle{
  display: flex;
}
.filmTitleContainer,.filmColumnTitle {
  display: flex;
  margin-top: 4rem;
  white-space: nowrap;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 0;
    line-height: 1.5;
  }

  span {
    font-size: 2rem;
    font-weight: 400;
    opacity: 0.8;
    color: rgb(255, 255, 255);
  }
}

.filmInfo {
  display: flex;
  gap: 1rem;
  color: white;
}

.genres {

  &::before,
  .duration::before {
    line-height: 0px;
    width: 100%;
    height: 100%;
    right: 0.5rem;
    top: 2px;
    content: "\2022";
    position: relative;
    font-size: 1.5rem;
    align-items: center;
  }
}

.overviewTitle {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.overview {
  margin-top: .5rem;
  width: 1000px;
  color: white;
}

.tagline.taglinePhone {
  margin-bottom: 1rem;
}
.taglinePhone{
  display: none;
}

.taglineText {
  font-style: italic;
  font-size: 17px;
  color: rgb(170, 170, 170);
}

.trailerContainer {
  display: flex;
  margin: 1.5rem 0 1.5rem 0;
  gap: 2rem;
}

.trailer {
  display: flex;
  width: fit-content;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-left: 3.5rem;

  svg {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
}

.circleContainer {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;

  span {
    color: white;
    font-weight: 600;
  }
}

.outer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #081c22;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage {
  position: absolute;

  span {
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
  }

  .percentSimbol {
    font-size: .9rem;
  }
}

circle {
  fill: none;
  
  stroke-width: 5px;
  transform: rotate(270deg);
  transform-origin: 50%;
}

.modal-dialog {
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {

  width: 75vw;
  height: 90vh;
  background-color: black;
}

iframe {
  border-radius: 3%;
}

.modal-title {
  font-size: 1rem;
  color: white;
}

.modal-header {
  background-color: rgb(9, 26, 44);

  button {
    color: white;
  }

  border: null;
}

.trailerNotAvailable {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.trailerModal {
  width: 100%;
  height: 100%;
}

.cast {
  margin: 2.5rem 0 1.5rem 5rem;
  h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
}

.filmCastContainer {

  gap: 1.2rem;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 60vw;
  height: 280px;
  overflow-x: auto;
  overflow-y: hidden;
}

.castCard {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 140px;
  border-radius: 8px;
  border-collapse: separate;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.castCardTop {
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  height: 170px;
}

.castCardBottom {
  display: flex;
  flex-direction: column;
}

.castCardBottomCharacter {
  margin: 0 0 0 6px;
  font-size: 13px;
  max-width: 130px;
}

.castCardBottomName {
  margin: 0 0 0 6px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding-top: 6px;
}

.bottomInfo{
  min-width: 100vw;
}

.justWatch{
  width: 100%;
  margin-top: 2.5rem;
  img{
    width: 230px;
  }
  p{
    height: fit-content;
  }
}

.select{
  margin-top: 1rem;
  width: 300px;
}

.providers{
  width: 70%;
  display: grid;
  grid-auto-rows: 120px;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  img{
    border-radius: 8px;
    height: 64px;
    width: 64px;
  }
}
.providerName{
  font-size: 14px;
  font-weight: 500;
  height: 10px;
  text-align: center;
}